{% block nav %}
<h1>Rush php</h1>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./users">Users</a></li>
            <li><a href="./add_user">Add_user</a></li>
            <li><a href="./log_in">Log_in</a></li>
            <li><a href="./log_out">Log_out</a></li>
            <li>
                <ul>
                    <li><a href="./user_1">User 1</a></li>
                    <li><a href="./user_2">User 2</a></li>
                    <li><a href="./user_3">User 3</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <hr>
    <hr>
{% endblock %}
{% block content %}
    {% if log %}
     <p>Hello : {{ log }}</p>
    {% endif %}
    <h3>Accueil</h3>
{% endblock %}