{% block nav %}
<h1>Rush php</h1>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./users">Users</a></li>
            <li><a href="./add_user">Add_user</a></li>
            <li><a href="./log_in">Log_in</a></li>
            {% if log %}
                <li><a href="./log_out">Log_out</a></li>
            {% endif %}
        </ul>
    </nav>
    <hr>
    <hr>
{% endblock %}
{% block content %}
    {% if log %}
     <p>Hello : {{ log }}</p>
    {% endif %}
    <h3>Accueil</h3>
{% endblock %}