{% block nav %}
<h1>Rush php</h1>
    <nav>
        <ul>
            <li><a href="./users">Users</a></li>
            <li><a href="./user_1">User 1</a></li>
            <li><a href="./user_2">User 2</a></li>
            <li><a href="./user_3">User 3</a></li>
        </ul>
    </nav>
    <hr>
    <hr>
{% endblock %}
{% block content %}
    <p>Accueil</p>
{% endblock %}