{% block nav %}
    <head>
        <title>Rush PHP</title>
        <link rel="stylesheet" href="Css/style.css">
    </head>
    <body>
    <h1>Rush php</h1>
        {% if log %}
            <em>Logged</em>
        {% else %}
            <em>Not logged</em>
        {% endif %}
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./articles">Articles</a></li>
                <li><a href="./users">Users</a></li>

                {% if log %}
                        <li><a href="./log_out">Log_out</a></li>
                        <li><a href="./add_article">Add_articles</a></li>
                        <li><a href="./add_user">Add_user</a></li>
                    {% else %}
                        <li><a href="./log_in">Log_in</a></li>
                {% endif %}

            </ul>
        </nav>
        <hr>
        <hr>
    {% endblock %}
    {% block content %}
        {% if log %}
            <p>Hello : {{ log }}</p>
            <li><a href="./log_out">Log_out</a></li>
        {% endif %}
        <h3>Accueil</h3>
        <em>Simplicity is the ultimate sophistication.</em>
    </body>
{% endblock %}