{% extends "/layouts/index.html.twig" %}
{% block content %}
    <form action="" method="post">
        <fieldset>
            <legend>Add_users</legend>
            Username : <input name="username" type="text"><br><br>
            Password : <input name="password" type="password"><br><br>
            Email : <input name="email" type="email"><br><br>
            Group : <input name="group" type="text"><br><br>
            <button type="submit">Send</button>
        </fieldset>
    </form>
{% endblock %}